madcow-decease/.godot/editor/editor_layout.cfg
madcow-decease/.godot/editor/filesystem_cache10
madcow-decease/.godot/editor/project_metadata.cfg
madcow-decease/.godot/editor/script_editor_cache.cfg
madcow-decease/.godot/uid_cache.bin
